*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.Admin-gain{
    display: flex;
}
.Admin-one{
    display: none;
    width: 20%;
    margin: auto;
    margin-top: 0px;
   
 
}
.Admin-options{
    margin-top: 1rem;
    font-weight: bold;
    display: flex;
    gap: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 8px;
}
.Admin-options:hover{
    background-color: whitesmoke;
}


.Admin-two{
    margin: auto;
    width: 70%;
}
.Admin-head{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 1rem;
    margin-top: 2rem;
}
.Admin-Hamburger{
    rotate: 90deg;
    cursor: pointer;
 
}
.Admin-information{
    width: 100%;
    display: flex;
    margin-top: 2rem;
}
.Admin-card{
    width: 25%;
    margin: auto;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}
.Admin-card-box{
    display: flex;
}
.Admin-logo{
    margin-left: 1vw;
}

.Admin-data{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.Admin-product{
   
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   margin: 2vw;
   padding: 5vw;
}
.product{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 1vw;
    padding: 1vw;
}
.Payment-switch{
    width: 20vw;
}
@media(max-width: 600px){
    .Admin-gain{
        display: block;
    }
    .Admin-one{
        width: 50%;
        margin: 1rem;
    }
    .Admin-information{
        display: grid;
    }
    .Admin-two{
        width: 90%;
    }
    .Admin-card{
        width: 45%;
    }
}
