.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3b984b;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    z-index: 2;
   
  }
  .chatbot-button:hover{
    background-color: #001524;
  }
  
  
  .chatbot-window {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 320px;
    max-height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 2;
   
  }
  
  .chatbot-header {
    background-color: #3b984b;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  .chatbot-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .chatbot-input {
    display: flex;
    padding: 10px;
  }
  
  .chatbot-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .chatbot-input button {
    background-color: #3b984b;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  